.container {  display: grid;
  grid-template-columns: 0.8fr 1.7fr 0.7fr 0.8fr;
  grid-template-rows: 0.6fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Logo Search SignIn Icons"
    "Logo Nav Nav Nav";
}

.Search {
  justify-self: stretch;
  align-self: center;
  grid-area: Search;
}

.SignIn {
  align-self: center;
  grid-area: SignIn;
}

.Icons {
  align-self: center;
  grid-area: Icons;
}

.Logo {
  justify-self: start;
  align-self: center;
  grid-area: Logo;
}

.Nav {
  justify-self: stretch;
  align-self: center;
  grid-area: Nav;
}

