.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". ."
    ". description";
}

.description {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: end;
    grid-template-areas:
    "name"
    "material"
    "price";
    grid-area: description;
}

.name { grid-area: name; }

.material { grid-area: material; }

.price { grid-area: price; }
