.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header"
    "BigImage"
    "Bottom"
    "CR";
    width: 90%;
    margin: 0;
}

.Header {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Logo Search SignIn Icons"
    "Logo Navbar Navbar .";
  grid-area: Header;
}

.Logo { grid-area: Logo; }

.Search { grid-area: Search; }

.SignIn { grid-area: SignIn; }

.Icons { grid-area: Icons; }

.Navbar { grid-area: Navbar; }

.BigImage { grid-area: BigImage; }

.Bottom {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Account AboutUs Help FollowUs";
  grid-area: Bottom;
}

.Account { grid-area: Account; }

.AboutUs { grid-area: AboutUs; }

.Help { grid-area: Help; }

.FollowUs { grid-area: FollowUs; }

.CR {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "LogoBottom CopyRight Terms";
  grid-area: CR;
}

.LogoBottom { grid-area: LogoBottom; }

.CopyRight { grid-area: CopyRight; }

.Terms { grid-area: Terms; }
